#!/usr/bin/env bash

##
# Generated via slurm-compose.
#

{% for arg in sbatch_argv %}
#SBATCH {{ arg }}
{% endfor %}
#SBATCH --signal=B:USR1@10

function maybe_sbatch_requeue {
    if [[ -n "${SLURM_JOB_ID}" ]]; then
        trap - USR1
    fi

    local exit_code=${1} max_restarts={{ max_restarts }}

    if [[ -n "${SLURM_EVENT}" ]]; then
        local -A event_log=(
            [EXIT]="[ERROR] Non-zero exit code (${exit_code}) detected."
            [TIMEOUT]="[WARNING] Job approaching time limit."
        )

        echo "${event_log[$SLURM_EVENT]}" >&2
    fi

    if [[ (-n "${SLURM_JOB_ID}") && ($max_restarts -gt 0) ]]; then
        local restarts=${SLURM_RESTART_COUNT:-0}

        if (( restarts < max_restarts )); then
            local requeue_job_id="${SLURM_JOB_ID}"
            if [[ (-n "${SLURM_ARRAY_JOB_ID:-}") && (-n "${SLURM_ARRAY_TASK_ID:-}") ]]; then
                requeue_job_id="${SLURM_ARRAY_JOB_ID}_${SLURM_ARRAY_TASK_ID}"
            fi

            echo "[INFO] Requeueing job ${requeue_job_id} (attempt $(( restarts + 1 ))/${max_restarts})" >&2
            if ! scontrol requeue "${requeue_job_id}"; then
                echo "[ERROR] Failed to requeue job ${requeue_job_id}." >&2
                exit $exit_code
            fi
        else
            echo "[ERROR] Max restarts (${max_restarts}) reached." >&2
            exit $exit_code
        fi
    fi

    return $exit_code
}

if [[ -n "${SLURM_JOB_ID}" ]]; then
    trap 'SLURM_EVENT=TIMEOUT maybe_sbatch_requeue 124' USR1
fi

{% for k, v in env.items() %}
export {{ k }}="{{ v }}"
{% endfor %}

step_pids=()
{% for step in steps +%}
##
# Step {{ loop.index0 }}
#
{% for k, v in step.env.items() %}
export {{ k }}="{{ v }}"
{% endfor %}
{
STEP_ID={{ loop.index0 }}
{% if step.job_name is defined %}
STEP_NAME={{ step.job_name }}
{% endif %}
{% for k, v in step.local_env.items() %}
export {{ k }}="{{ v }}"
{% endfor %}

{{ step.args | trim }}
} & step_pids+=($!)

{% if not loop.last and step_delay is defined %}
sleep {{ step_delay }}
{% endif %}
{% endfor %}

## Wait for any step to finish, and terminate pids.
exit_code=0
wait -n "${step_pids[@]}" || exit_code=$?
for pid in "${step_pids[@]}"; do
    kill -TERM "$pid" 2>/dev/null || true
done
wait "${step_pids[@]}" 2>/dev/null || true

## Attempt requeue for non-zero exit codes.
if [[ $exit_code -ne 0 ]]; then
    SLURM_EVENT=EXIT maybe_sbatch_requeue $exit_code
fi
