#!/usr/bin/env bash

##
# Generated via slurm-compose.
#

{% for arg in sbatch_argv %}
#SBATCH {{ arg }}
{% endfor %}

step_pids=()
{% for step in steps +%}
##
# Step {{ loop.index0 }}
#
{% for k, v in step.env.items() %}
export {{ k }}="{{ v }}"
{% endfor %}
{
STEP_ID={{ loop.index0 }}
{% if step.job_name is defined %}
STEP_NAME={{ step.job_name }}
{% endif %}
{{ step.args | trim }}
} & step_pids+=($!)
# unset {{ step.env.keys() | join(" ") }}
{% endfor %}

## Waits for any step to finish, and then terminates all returning the exit code.
wait -n "${step_pids[@]}"
exit_code=$?
for pid in "${step_pids[@]}"; do
    kill -TERM "$pid" 2>/dev/null
done
wait "${step_pids[@]}" 2>/dev/null
exit $exit_code
